<section class="col-md-12" >
    <div class="col-sm-6">
      <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <input class="new-contact" name="name" placeholder="Full Name" autofocus="" [(ngModel)]="newContact.name" required>
        <input class="new-contact" name="mobileNumber" placeholder="Mobile No." autofocus="" [(ngModel)]="newContact.mobileNumber" >
        <input class="new-contact" name="email" placeholder="Email" autofocus="" [(ngModel)]="newContact.email">
        <button class="save btn btn-primary" (click)="addContact()">{{saveButton}}</button>
      </form>
        <app-contacts-list [contacts]="contacts"  
                  (edit)="onEditContact($event)" 
                  (remove)="onRemoveContact($event)"></app-contacts-list>
                  
    </div>
  </section>